---
title: A Starter Kit
author: Syahmi Fauzi
# Nothing
titleTodo: Things to do
todos:
    - First todo
    - Another todo item
    - A third todo item
---
{% extends "_layouts/base.twig" %}

{% block content %}
  {% include '_includes/header.twig' %}

  <section>
    <h1>{{ titleTodo }}</h1>
    <ul>{% for todo in todos %}
      <li>{{ todo }}</li>
    {% endfor %}</ul>
  </section>

  <section>
    <header>
      <h1>Gulp and Twigsss</h1>
      <h3>Author: {{ author }}</h3>
      <nav>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Products</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <article class="top-article">
      {% include '_includes/complex.html' %}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ratione laudantium id fugit inventore magni repudiandae molestias iusto enim eligendi, voluptate quae, consequatur non porro reprehenderit maxime rem! Laudantium, doloribus.</p>
    </article>

    <footer>
      <h1>Made with love by <a href="#">Syahmi Fauzi</a></h1>
    </footer>
  </section>

  {% include '_includes/footer.twig' %}
{% endblock %}
