// All Variables
$primary-font-family: "Source Sans Pro","Helvetica",sans-serif;
$secondary-font-family: "Amatic SC","Helvetica",sans-serif;

$primary-font-color: #333;

$bg-color: #f1f1f1;

$box-bg-color: #fefefe;

$link-color: #333;
$link-color-hover: #fff;
